html, body {
  height: 100%;

}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%; 

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.hero,
.information,
.quote {
  flex: 1;
}

.header,
.hero,
.footer {
  background-color: #1F2937;
}

.header,
.hero {
  padding: 5px 70px;
}

a,
.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.header {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .logo {
    font-size: 24px;
    color: #F9FAF8;
  }

  .links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 5px;
  }


  .hero {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 10px;
  }

  
    .hero-text {
      flex: 1;
    }
  
      .hero-main-text {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: 900;
      }


    .image-placeholder {
      background-color: gray;
      color: white;
      box-shadow: 2px 4px 16px rgba(0,0,0,.06);
      border-radius: 4px;
      padding: 16px;

      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

.footer {
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
}

