/*
setup and combination rules
*/

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.hero,
.information,
.quote,
.signup {
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header,
.hero,
.footer {
  background-color: #1F2937;
}

.header,
.hero,
.signup {
  padding-left: 70px;
  padding-right: 70px;
}

.information,
.quote {
  padding-left: 150px;
  padding-right: 150px;
}

a,
.hero-secondary-text,
.footer {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

/*
header
*/

.header {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .logo {
    font-size: 24px;
    color: #F9FAF8;
  }

  .links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 5px;
  }


/*
Section 1: Hero
*/

.hero {
  display: flex;
  justify-content: center;
  gap: 10px;
}

  .hero-text {
    flex: 1;
  }

    .hero-main-text {
      font-size: 48px;
      color: #F9FAF8;
      font-weight: 900;
    }

  .image-placeholder {
    background-color: gray;
    color: white;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 16px;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*
Section 2: Information
*/

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

  .information-header {
    font-size: 25px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
  }

  .information-cards {
    display: flex;
    gap: 30px;
  }
  
  .info-combo {
    max-width: 100px;
  }

  .info-card {
  border: 3px solid #3882F6;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  }
  
  .info-subtext {
    font-size: 11px;
    color: rgb(91, 91, 91);
    text-align: center;
    margin-top: 5px;
  }

/*
Section 3: Quote
*/

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
}

.quote-text {
  font-size: 18px;
  color: #1F2937;
  font-style: italic;
}

.quote-source {
  font-weight: bold;
  text-align: right;
}

/*
Section 4: Sign up
*/

.signup-card {
  background: #3882F6;;
  border-radius: 10px;
  color: white;
  padding: 40px 90px;

  display: flex;
  justify-content: space-between;
}

.signup-text-main {
  font-weight: bold;
  font-size: 18px;
}


/*
Footer
*/

.footer {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
Elements
*/

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  background: #3882F6;
  color: white;
}

button#button-blue-outline {
  border: 1px solid #3882F6;
  margin-top: 10px;
}

button#button-white-outline {
  border: 1px solid white;
}

